# Godot 4+ specific ignores
.godot/
/android/
godot_project/addons/godotsteam/win64/~libgodotsteam.windows.template_debug.x86_64.dll

# Python cache
__pycache__/
*.pyc
godot_project/translate_with_gemini.py
/addons/sentry/bin
/godot_project/addons/sentry/bin
